.footerWrap {
  padding: 8px;
}

.footer {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  background: #293B77;
  color: #dbe6ff;
  padding: 150px 100px;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 1.2fr 0.85fr;
  gap: 34px;
}


.col {
  position: relative;
  z-index: 2;
}

.logo {
  width: auto;
  height: auto;
  max-width: 220px;
}

.about {
  margin-top: 30px;
  max-width: 245px;
  color: #ffff;
  font-size: 15px;
  line-height: 1.55;
  font-weight: 400;
}

.title {
  margin: 0 0 15px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
  color: #9eb2e5;
}

.linkList,
.contactList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.linkItem {
  display: inline-block;
  margin-bottom: 10px;
  color: #dbe6ff;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-decoration: none;
}

.linkItem:hover {
  color: #ffffff;
}

.contactItem {
  display: flex;
  align-items: flex-start;
  gap: 9px;
  margin-bottom: 15px;
}

.contactText {
  color: #dbe6ff;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-decoration: none;
}

.iconCircle {
  width: 18px;
  height: 18px;
  border: 1px solid #b9c8f4;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #c9d7ff;
  flex-shrink: 0;
  margin-top: 2px;
}

.iconImage {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.socialRow {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socialIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #dbe6ff;
  text-decoration: none;
}

.socialIcon:hover {
  color: #ffffff;
}

.socialImage {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.plainLogoBg {
  position: absolute;
  right: 30px;
  bottom: 14px;
  width: 400px;
  height: auto;
  /* opacity: 0.24; */
  z-index: 1;
  pointer-events: none;
}

.copyBar {
  position: absolute;
  left: 44px;
  right: 44px;
  bottom: 16px;
  border-radius: 10px;
  background: #232A46;
  text-align: center;
  z-index: 2;
}

.copyBar p {
  margin: 0;
  padding: 11px 18px;
  color: #bfcaed;
  font-size: 11px;
  line-height: 1.3;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .plainLogoBg {
    right: -92px;
    bottom: -206px;
    width: 460px;
  }
}

@media (max-width: 768px) {
  .plainLogoBg {
    width: 330px;
    right: -102px;
    bottom: -150px;
    opacity: 0.18;
  }
}
